## Build
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

## Salidas
*.mp3
publish/
TestResults/

## Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
